.billeder {
  box-sizing: border-box;
    width: 100%;
}

.row > .column, .rowto > .columnto {
  padding: 2.5px 2.5px;
}

.row:after, .rowto:after {
  content: "";
  display: table;
  clear: both;
}

.column, columnto {
  float: left;
  width: 15%;
}

/* The Modal (background) */
.modal, .modalto {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content, .modal-contentto {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 22%;
  max-width: 1200px;
}

/* The Close Button */
.close, .closeto {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .closeto:hover,
.close:focus, .closeto:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides, .mySlidesto {
  display: none;
}

.cursor, .cursorto {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .prevto,
.next, .nextto {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next, .nextto {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .prevto:hover,
.next:hover, .nextto:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext, .numbertextto {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container, .caption-containerto {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo, .demoto {
  opacity: 0.6;
}

.active, .activeto,
.demo:hover, .demoto:hover {
  opacity: 1;
}

img.hover-shadowto {
  transition: 0.3s;
}

.hover-shadowto:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* en del der kun gælder hvis skærmen er over 500 pixels */ 

@media screen and (min-width: 501px) {
    
    #pagewrap {
        display: grid;
        grid-gap: 0.5em;
    }
    
@media screen and (min-width: 1000px) {
    
    #pagewrap {
        display: grid;
        grid-gap: 0.5em;
    }
