.billeder {
  box-sizing: border-box;
    width: 100%;
}

.row > .column, .rowll > .columnll, .rowlll > .columnlll {
  padding: 2.5px 2.5px;
}

.row:after, .rowll:after, .rowlll:after {
  content: "";
  display: table;
  clear: both;
}

.column, .columnll, .columnlll {
  float: left;
  width: 15%;
}

/* The Modal (background) */
.modal, .modalll, .modallll {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content, .modal-contentll, .modal-contentlll {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 22%;
  max-width: 1200px;
}

/* The Close Button */
.close, .closell, .closelll {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .closell:hover, .close:focus, .closell:focus, .closelll:focus, .closelll:hover {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides, .mySlidesll, .mySlideslll {
  display: none;
}

.cursor, .cursorll, .cursorlll {
  cursor: pointer;
}

/* Next & previous buttons */
.prev, .prevll, .next, .nextll, .prevlll, .nextlll {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next, .nextll, .nextlll {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .prevll:hover, .next:hover, .nextll:hover, .nextlll:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext, .numbertextll, .numbertextlll {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container, .caption-containerll, .caption-containerlll {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo, .demoll, .demolll {
  opacity: 0.6;
}

.active, .activell, .activelll, .demo:hover, .demoll:hover, .demolll:hover {
  opacity: 1;
}

img.hover-shadow, img.hover-shadowll, img.hover-shadowlll {
  transition: 0.3s;
}

.hover-shadow:hover, .hover-shadowll:hover, .hover-shadowlll {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/* DERPASTES!! */



        h1, h2 {
            font-family: 'Josefin Sans', sans-serif;
        }

        p, li, ul {
            font-family: 'Didact Gothic', sans-serif;
            text-align: left;
        }


        body {
            background-color: lightblue;
            padding-left: 6em;
            padding-right: 40em;
        }




        #pagewrap {
            background-color: cornsilk;
            padding-right: 33.72em
        }

        #pagewrap {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            grid-template-rows: 10fr 15fr 10fr;
            grid-template-areas:
                "a a a a"
                "a a a a"
                "a a a a"
                "b b b b"
                "b b b b"
                "c c c c"
                "c c c c"
                "d d d d"
                "d d d d"
                "e e e e"
                "e e e e"
                "f f f f"
                "f f f f"
                "g g g g"
                "g g g g"
                "h h h h"
                "h h h h"
                "i i i i"
                "j j j j"
                "k k k k"
                "l l l l"
                "m m m m"
                "n n n n"
                "n n n n";
        }

        #overskrift {
            background-color: lightpink;
            grid-area: a;
            text-align: center;
            box-shadow:;
            border-style: outset;
            outline-color:black;
            outline-width: thick;
            box-decoration-break: slice;
        }


        #indledning {
            background: transparent;
            grid-area: b;
            text-align: center;
            font-size: 99%;
            padding-left: 2em;
        }


        #svane: {
            background-color: transparent;
            grid-area: c;
            padding-left: 40em;
        }


        #blaakrans {
            background-color: transparent;
            grid-area: d;
            padding-left: 0em;
        }


        #Ecocert {
            background-color: transparent;
            grid-area: e;
            padding-left: 0em;
        }


        #solsikke {
            background-color: transparent;
            grid-area: f;
            padding-left: 0em;
        }

        #dem_i_midten {
            background-color: transparent;
            grid-area: g;
            padding-left: 2em;
        }

        #skadelige {
            background-color: transparent;
            grid-area: h;
            padding-left: 2em;
        }

        #de_venlige {
            background-color: transparent;
            grid-area: i;
            padding-left: 0em;
        }

        #billeder {
            background-color: transparent;
            grid-area: j;
        }

        #midten {
            background-color: transparent;
            grid-area: k;
            padding-left: 2em;
        }

        #billeder_midten {
            background-color: transparent;
            grid-area: l;
        }

        #faretruende {
            background-color: transparent;
            grid-area: m;
            padding-left: 2em;
        }

        footer {
            position: fixed;
            background-color: grey;
            width: 100%;
            bottom: 0;
            left: 0;
        }

/* test af comit i atom */



        /* en del der kun gælder hvis skærmen er over 500 pixels */

        @media screen and (min-width: 501px) {

            #pagewrap {
                display: grid;
                grid-gap: 0.5em;
                grid-template-areas:
                    "a a a a"
                    "a a a a"
                    "a a a a"
                    "b b b b"
                    "b b b b"
                    "c c c c"
                    "c c c c"
                    "d d d d"
                    "d d d d"
                    "e e e e"
                    "e e e e"
                    "f f f f"
                    "f f f f"
                    "g g g g"
                    "g g g g"
                    "h h h h"
                    "h h h h"
                    "i i i i"
                    "j j j j"
                    "k k k k"
                    "l l l l"
                    "m m m m"
                    "n n n n"
                    "n n n n";

            background-color: #b0a9de;
            }

            @media screen and (min-width: 1000px) {

                #pagewrap {
                    display: grid;
                    grid-gap: 0.5em;
                }
